<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="css/stylesheet" href="css/bootstrap.css">
</head>

<body>
<h1>BOOTSTRAP</h1>
<div class="container" id="questions_container"></div>
</body>

<script type="text/template" id="question_template">
	<div class="question_container" id="<%= model.get('cid') %>">
		<p><%= model.get('text') %></p>
	</div>
</script>

<script type="text/javascript" src="js/lib/jquery.min.js"></script>
<script type="text/javascript" src="js/lib/underscore-min.js"></script>
<script type="text/javascript" src="js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="js/lib/backbone.min.js"></script>
<script type="text/javascript" src="js/qdata.js"></script>
<script type="text/javascript" src="js/privme.js"></script>

</html>